{% extends 'base.html' %}

{% block title %}<h1>Game Page</h1>{% endblock %}

{% block content %}

<p>Current Game: (Game # {{ game_id }}) {{ game_name }}: {{ game_description }}</p>

<div id='map'></div><br>

<ul class='game-events'>
        {% for game in game_info %}
            {% if loop.index == 1 %}

                <form class='current' id='event{{ loop.index }}'>
                    Event # ({{ game.event_order }}) {{ game.story_text }}<br>
                    Puzzle: {{ game.puzzle }}<br>
                    <input type='text' name='puzzle_response' id='response{{ loop.index }}'>
                    <input type='submit' value='Submit' onclick='getResponse()'><br>
                    <p class='hidden' id='hint{{ loop.index }}'>Hint: {{ game.puzzle_hint }}</p>
                    <p class='hidden' id='location{{ loop.index }}'>Directions: {{ game.location_hint }}</p>                      
                </form>
            {% else %}
                <form class='hidden' id='event{{ loop.index }}'>
                    Event # ({{ game.event_order }}) {{ game.story_text }}<br>
                    Puzzle: {{ game.puzzle }}<br>
                    <input type='text' name='puzzle_response' id='response{{ loop.index }}'>
                    <input type='submit' value='Submit' onclick='getResponse()'><br>
                    <p class='hidden' id='hint{{ loop.index }}'>Hint: {{ game.puzzle_hint }}</p>
                    <p class='hidden' id='location{{ loop.index }}'>Directions: {{ game.location_hint }}</p>          
                </form>
            {% endif %}
        {% endfor %}
</ul>

<a href="/main-page">Return to main page</a>



<script>

    function initMap() {
        // Function to place map on website and set current marker.

        // Set map near Hackbright (game area for game 3).
        let sbHackbright = {lat: 37.3797849, lng: -121.9431958};

        let map = new google.maps.Map(document.getElementById('map'), {
            center: sbHackbright,
            zoom: 17,
        })
        
        // Create marker on map for testing.
        let marker = new google.maps.Marker({
            position: sbHackbright,
            map: map,
        });

        if (navigator.geolocation) {
            // If statement to check if browser supports "getting" location.

            // Execute if successful location grab.
            let watchID = navigator.geolocation.watchPosition(function(position) {
                let pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                marker.setPosition(pos);
                map.setCenter(pos);

            // Execute if unsuccessful location grab.
            }, function() {
                handleLocationError(alert("Location could not be found."), map.getCenter());
            });
        } else {
        // Code to handle error if browser does not support Geolocation
            alert("Your browser does not support Geolocation. Please use another browser that does, such as Chrome.")
        }
    }


    // Code to handle puzzle responses along with hints & location.

    // Pass in list of puzzle keys, list of puzzle hints.
    // $.get('/route', data, callback);

    let puzzle_key = [];
    let totalEvents = puzzle_key.length;

    $.get('/game-page/puzzle-key', { game_id: {{ game_id }} } , function (results) {
        puzzle_key = results;
        totalEvents = puzzle_key.length;
    })

    // all of this stuff should be the result of an ajax get request
    // it should be in json!
    // let puzzle_key = {{ puzzle_key | safe }}; 

    let hints = {{ hints | safe }};
    let location_hint = {{ location_hint | safe }};

    // Set counters.
    let counter = 1;
    let puzzle_index = 0;

    // Find total events to set counter limit.
    // let totalEvents = puzzle_key.length;


// Take a look at using AJAX to get key/etc. ** When there is enough time. **
    function getResponse() {
        // Prevent re-routing.
        event.preventDefault();

        if (counter === totalEvents) {
            changeEvent();
        }

        // Take user response from text box.
        let response = document.getElementById("response" + counter).value;

        console.log(response);
        console.log(puzzle_key[puzzle_index]);
        console.log(puzzle_index);
        // Check if user response is same as puzzle key.
        if (response === puzzle_key[puzzle_index]) {

            // If correct, increment the puzzle key and execute class change.
            puzzle_index += 1;

            let location = document.getElementById("location" + counter);
            location.setAttribute('class', 'hint');

            checkLocation();         


        } else {
            // If wrong, pop up hint.
            console.log("if false")
            let hint = document.getElementById("hint" + counter);
            hint.setAttribute('class', 'hint');
        }
    }


    function checkLocation() {
        //Function to check if user is at location in order to trigger next event.
        let coordinates = {{ coordinates }};

// Check puzzle response here
        let watchID = navigator.geolocation.watchPosition(function(position) {

            let pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };

            let latCoord = coordinates[counter][0];
            let longCoord = coordinates[counter][1];

            let puzzlePos = {
                lat: latCoord,
                lng: longCoord
            }

            if (pos.lat === puzzlePos.lat && pos.lng === puzzlePos.lng) {
                console.log("You're good, change event!");
                changeEvent();
                console.log("worked!!!")

                navigator.geolocation.clearWatch(watchID);

            } else {
                console.log("location else")
            }
        });
    }

    function changeEvent() {
        // This line of code is to make the current event disabled.
        $('#event' + counter).children().attr('disabled', true);

        if (counter < totalEvents) {
            // These next lines of code are to set the next event as current.
            next = document.getElementById('event'+ (counter + 1));
            next.setAttribute('class', 'current');

            counter += 1;
        } else {
            // ALERT completed message once user passes all puzzles.
            alert("Great job!!! You've solved all puzzles!")
        }
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ gkey }}&callback=initMap" async defer></script>

{% endblock %}

