{% extends 'base.html' %}

{% block title %}Greeting Page{% endblock %}

{% block content %}

{% if 'active_session' in session %}
    <h2>Logout</h2>
    <p><a href="/logout">Click here to log out</a></p>
{% else %}
    <h2>Login</h2>
    <p><a href="/login">Click here to log in</a></p>
{% endif %}

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    User: {{ username }} <br>
                    _________ <br>
                    |      <br>
                    |      <br>
                    |      <br>
                    ---------- <br>

                    Player Stats: <br>

                    *Games Played* <br>
                    -Rank # <br>
                </div>

                <div class="col-4">
                    Available Games to Play:<br>
                        <ul>
                            {% for game in all_games %}
                                <li>
                                    <a href="/game-page?game_name={{ game.game_name }}">
                                        {{ game.game_name }}
                                    </a>
                                </li>
                            {% endfor %}      
                        </ul>         
                </div>

                <div class="col-5">
                    Leaderboard<br>

                    <ul>
                        {% for score in leaderboard_stats %}
                            <li>
                                {{ score }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>    
            </div>                
        </div>
    </body>


{% endblock %}