{% extends 'base.html' %}

{% block title %}Greeting Page{% endblock %}

{% block content %}

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    Username <br>
                    _________ <br>
                    |      <br>
                    |      <br>
                    |      <br>
                    ---------- <br>

                    Player Stats: <br>

                    *Games Played* <br>
                    -Rank # <br>

                    *Games Created* <br>
                    -Rank # <br>

                </div>

                <div class="col-3">
                    <a href="/create-game">
                        Create Games
                    </a>
                </div>

                <div class="col-3">
                    Play Games
                </div>

                <div class="col-3">
                    Search Games
                </div>
            </div>
        </div>
    </body>


{% endblock %}