{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

  <h2>Registration Form</h2>

  <form action="/process-registration" method="POST">

    First Name: <input type='text' name='user_fname'><br>
    Last Name: <input type='text' name='user_lname'><br>
    Username: <input type='text' name='username' required><br>
    Email: <input type='email' name='user_email' required><br>
    Password: <input type='password' name='user_password' required><br>
    Security Question: 
        <select name="security" required>
            <option value="When was the lst time you caught the flu?">When was the last time you caught the flu?</option>
            <option value="What is your favorite pets' name?">What is your favorite pets' name?</option>
            <option value="What is your favorite flower?">What is your favorite flower?</option>
        </select>
        <input type='text' name='security_answer' required>

    <input type='submit'>

  </form>


<script>

$("")


</script>

{% endblock %}